.assortiment-content
	display: none
	@extend .col-xs-12
	.assortiment
		@extend .col-xs-12
		@extend .col-sm-6
		margin-top: 10px
		margin-bottom: 10px
		img
			@extend.col-xs-12
			padding: 0
			max-height: 153px
		.assortiment-text
			@extend .col-xs-12
			padding: 0
			h3
				color: #ef7d00
				text-transform: uppercase
			p
				color: white
	.assortiment-burgers
		display: none
		.burger
			@extend .col-xs-12
			@extend .col-sm-4
			margin-top: 10px
			&:nth-child(3n + 4)
				clear: left
			img
				@extend .col-xs-12
			.assortiment-text
				@extend .col-xs-12
				h3
					margin-top: 5px
					color: #ef7d00
					text-transform: uppercase
				p
					color: white
	.assortiment-schnitzels, .assortiment-patat, .assortiment-salades, .assortiment-broodjes, .assortiment-ijs
		display: none
		img
			@extend .hidden-xs
			@extend .col-sm-6
		.assortiment-text
			@extend .col-xs-12
			@extend .col-sm-6
			p.orange
				margin-top: 10px
				color: #ef7d00
				text-transform: uppercase
				font-size: 2em
			p
				text-transform: uppercase
				color: white
			span
				text-transform: lowercase
				font-size: 1em
				
