footer
	@extend .col-xs-12
	border-top: white 1px solid
	padding-top: 5px
	margin-top: 15px
	.footer_text
		@extend .col-xs-12
		display: inline-block
		color: white
		text-align: center
		a
			color: white
	.footer_icons
		@extend .col-xs-12
		text-align: center
		img
			padding: 5px
			width: 50px
