.franchise-content
	display: none
	img
		@extend .col-xs-12
		@extend .col-sm-6
		margin-bottom: 20px
	article.top-item
			@extend .col-xs-12
			margin-bottom: 20px
			h2
				color: #ef7d00
				font-size: 2.4em
			p
				color: white
	article.bottom-item
		@extend .col-xs-12
		margin-bottom: 20px
		.bottom-text-franchise
			@extend .col-xs-12
			padding: 0
			display: inline-block
			h2 
				color: #96c11f
				font-size: 2.4em
				display: inline-block
				margin-top: 0px
			p
				color: white
				display: inline-block
			ul 
				list-style: none
				color: white
				li
					padding-left: 1em
					text-indent: -.7em
					&::before
						content: "• "
						color: #ef7d00
	.bottom-item-double
		@extend .col-sm-6
		margin-bottom: 20px
		.bottom-text-franchise
			@extend .col-xs-12
			padding: 0
			display: inline-block
			h2 
				color: #96c11f
				font-size: 2.4em
				display: inline-block
				margin-top: 0px
			p
				color: white
				display: inline-block
			ul 
				list-style: none
				color: white
				li
					padding-left: 1em
					text-indent: -.7em
					&::before
						content: "• "
						color: #ef7d00


	a.bronchure
		width: calc( 100% - 30px)
		margin-left: 15px
		color: white
		padding: 5px
		border: 1px solid #96c11f
		background-color: #757474

@media (min-width: $screen-sm-min)
	a.bronchure
		float: left
		text-align: center
	.bottom-text-franchise
		ul
			li
				font-size: 1.4em
				