header
	@extend .col-xs-12
	padding-top: 10px
	background-image: url("../images/hout.jpg")
	padding: 0
	img
		@extend .col-xs-12
		@extend .col-sm-10
		@extend .col-sm-offset-1
	nav.navbar.navbar-inverse
			@extend .hidden-sm
			@extend .hidden-md
			@extend .hidden-lg
			clear: both
			background: #96c11f
			color: white
			border: none
			margin-left: -15px
			margin-right: -15px
			margin-bottom: 0
			.navbar-toggle
				background-color: none
				border: 0px
			a.navbar-brand
				color: white
			ul
				li
					a
						color: white
	nav.lg-devices
		@extend .hidden-xs
		@extend .col-sm-12
		background: #363634
		ul
			text-align: center
			li
				display: inline-block
				a
					color: white	
					&:hover, &:active
						background-color: #96c11f

@media (min-width: $screen-sm-min)
	nav.lg-devices
		ul
			li
				a
					font-size: 1.6em

@media (min-width: $screen-md-min)
	nav.lg-devices
		ul
			li
				a
					font-size: 1.2em
