.hero-image
	background-image: url("../images/patat.png")
	background-size: cover
	width: 100%
	min-height: 150px
	margin-bottom: 10px
	.text-cloud
		@extend .col-xs-8
		@extend .col-xs-offset-2
		@extend .col-sm-4
		@extend .col-sm-offset-4
		margin-top: 50px
		opacity: 0.9
		a
			opacity: 1
		.btn-primary
			background-color: #96c11f
			border: none

