.home-container, .vacature-content, .news-content,
	@extend .col-xs-12
	@extend .col-sm-8
	article.top-item
		@extend .col-xs-12
		margin-bottom: 20px
		padding: 0
		h2
			color: #ef7d00
			font-size: 2.4em
		p
			color: white
	article.bottom-item
		@extend .col-xs-12
		margin-bottom: 20px
		.article-image
			@extend .col-xs-3
			img
				width: 50px
				display: inline-block
		.bottom-text
			@extend .col-xs-9
			display: inline-block
			h2 
				color: #96c11f
				font-size: 2.4em
				display: inline-block
				margin-top: 0px
			p
				color: white
				display: inline-block
	.action
		@extend .col-xs-12
		img
			width: 100%

.vacature-content
	display: none
	h2
		color: #96c11f!important
		text-transform: uppercase
	h2.orange
		color: #ef7d00!important
		text-transform: uppercase