.news-content
	@extend .col-xs-12
	display: none
	article.top-item
		overflow: hidden
		position: relative
		.article-image
			img
				@extend .col-xs-12
				padding: 0
				margin-top: 10px
				margin-bottom: 10px
		.bottom-text
			@extend .col-xs-12
			padding: 0
			h2
				color: #96c11f
			h2.orange
				color: #ef7d00

