.sidebar
	@extend .col-xs-12
	@extend .col-sm-4
	border-left: none
	.search-location
		@extend .col-xs-12
		color: #96c11f
		border: 1px solid #96c11f
		background-color: #757474
		padding-top 5px
		padding-bottom: 5px
		margin-top: 10px
		margin-bottom: 10px
		.white
			color: white
		.large
			font-size: 2em
		.search-text
			text-align: right
		.search-bar
			font-size: 1.2em
			color: #ef7d00
			#custom-search-input
		    border-radius: 6px
		    background-color: #fff
			#custom-search-input input
			    border: 0
			    box-shadow: none
			.input-group-btn
				background-color: #ef7d00
				padding: 2px
				border: 1px solid #ef7d00
				border-radius: 0px 6px 6px 0px
			#custom-search-input button
			    margin: 2px 0 0 0
			    background: none
			    box-shadow: none
			    border: 0
			    color: #666666
			    padding: 0 8px 0 10px
			    p
			    	color: white

			#custom-search-input button:hover
			    border: 0
			    box-shadow: none
			    border-left: solid 1px #ccc
	.new-location
		@extend .col-xs-12
		background-color: #ef7d00
		padding-bottom: 5px
		position: relative
		h1
			color: white
		img
			width: 100%
		p.vesteging
			position: absolute
			bottom: 5px
			right: 20px
			color: white
			font-size: 2em
	.order-online
		@extend .col-xs-12
		border: 1px solid #96c11f
		background-color: #757474
		color: white
		margin-top: 10px
		margin-bottom: 10px
		p
			font-size: 2em
			display: inline
		h2
			color: #96c11f
			font-weight: bold
			display: inline
			margin-left: 5px
		span
			font-size: 2em
			color: white
			font-weight: normal
	.save
		@extend .col-xs-12
		border: 1px solid #96c11f
		background-color: #757474
		color: white
		text-align: center
		margin-top: 10px
		margin-bottom: 10px
		h2
			margin: 0px
			padding-top: 5px
			padding-bottom: 5px
