.vacature-content	
	.nav-tabs.nav-justified>li
		float: left
	.nav-justified>li, .nav-stacked>li
		float: left
	.clear
		float: none
	li.active
		width: 100%
	ul.dropdown-menu
		width: 100%
		a
			display: block
			padding: 5px
			text-align: center