.vestigingen-content
	display: none
	@extend .col-xs-12
	margin-top: 20px
	.vestiging
		@extend .col-sm-4
		margin-bottom: 30px
		img
			width: 100%
			max-height: 153px
		&:nth-child(3n + 4)
				clear: left
		.vestiging-text
			h2
				color: #ef7d00
				text-transform: uppercase
			p
				color: white
			table
				color: white
				th
					font-weight: normal
				td
					padding-left: 10px