doctype html
html
	head
		include layouts/head
	body
		.container-fluid
			.site
				.row
					include layouts/header

				.row
					.hero-image
						.text-cloud
							a.btn.btn-primary#bbk Jouw eigen Big Bread <br> Kitchen starten? Klik hier ->

				.row
					include layouts/home-content
					include layouts/actions-content
					include layouts/vacature-content
					include layouts/news-content
					include layouts/assortiment
					include layouts/franchise-content
					include layouts/vestigingen-content
					include layouts/sidebar

				.row
					include layouts/footer
