*
	padding: 0
	margin: 0

body
	background-image: url('../images/stenen.png')
	font-size: 62,5%
p, table
	font-size: 1.2em
.navbar.affix
	top: 0
	width: 100%

.hide
	display: none

.show
	display: block

.site
	@extend .col-md-8
	@extend .col-md-offset-2

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (min-width: $screen-sm-min)
	p, table
		font-size: 1.4em

@media (min-width: $screen-md-min)
	p, table
		font-size: 1.2em