.actions-content
	#myCarousel.carousel.slide(data-ride="carousel")
		ol.carousel-indicators
			li(data-target="#myCarousel", data-slide-to="0" class="")
			li(data-target="#myCarousel", data-slide-to="1" class="active")
			li(data-target="#myCarousel", data-slide-to="2" class="active")
		.carousel-inner(role="listbox")
			.item.active
				img.first-slide(src="images/jaaraktie1.jpg", alt="First slide")

			.item
				img.second-slide(src="images/jaaraktie2.jpg", alt="Second slide")

			.item
				img.third-slide(src="images/jaaraktie1.jpg", alt="third slide")
		
		a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			span.sr-only Vorige

		a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			span.sr-only Volgende
