.assortiment-patat
	img(src="https://via.placeholder.com/100x50")
	.assortiment-text
		p.orange Patat
		p Patat zonder  
		p Patat mayonaise
		p Patat speciaal 
		p Patat pindasaus
		p patat knoflooksaus
		p patat joppiesaus 
		p patat oorlog
		p patat feest 
			span speciaal met satesaus
		p patat stoofvlees

		p.orange Frites specialiteiten
		p superfrites frikandel speciaal
		p superfrites catamaran speciaal
		p superfrites back in town
		p borenfrites 
			span Met uien, champignions, spek en paprike
		p kapsalon 
			span shoaramvlees met gesmolten kaas incl. saus
		p gezinszak frites 
			span alleen om mee te nemen
		p twisterfrites (extra)

