.assortiment-schnitzels
	img(src="https://via.placeholder.com/100x50")
	.assortiment-text
		p.orange Schnitzels
		p Varkensschnitzel  
			span Naturel
		p Kipschnitzel  
			span Naturel
		p Jakarta Schnitzel 
			span Met ui, atjas, gebakken ei, kroepen en satesaus
		p Pisa schnitzel 
			span Gesmolten geraspte kaas en zigeunsaus
		p Berlijn schnitzel 
			span Met ui, spek en champignons
		p Parijs schnitzel 
			span Met walnoten en honing

