.assortiment-salades
	img(src="images/salades.jpg")
	.assortiment-text
		p.orange Salades
		p Ocean salade 
			span stukjes tonijn, olijf, zeewier, kerstomaten met verse gemende salade en dressing
		p Italiaanse salade 
			span met feta, druiven, walnoten, gekookt ei, rucola en dressing
		p Oosterse chicken salade 
			span met kippendijfilet, soja saus, mandarijn, parmazaan, verse gemengde salade en yoghurt dressing
		p Shanghai salade  
			span met sojabonen, seizoensgroenten, parmezaan, cherrytomaten en dressing
		p rundvlees slaatje 
			span met verse gemengde salade

