.assortiment-broodjes
	img(src="images/maaltijden.jpg")
	.assortiment-text
		p.orange Warme broodjes
		p Hamburger  
			span Naturel
		p Cheeseburger 
			span met saus
		p Hawaiburger 
			span met saus
		p Warm vlees  
			span met pindasaus
		p Shoarma
			span (pita)
		p Ambachtelijke gehaktbal
			span met pindasaus
		p Uitsmijter naturel 
			span met 3 scharreleieren, ham en kaas
		p Uitsmijter shanghai  
			span gebakken omeletet
		p.orange Belegde broodjes
		p Tosti 
			span Beenham en kaas met verse gemendge salade
		p Tosti 
			span hawai met verse gemende salade
		p Belegen kaas 
			span met komkommer en monsterdsaus
		p Ambachtelijke ham 
			span met komkommer
		p Tartaat 
			span gemarineerd rundvlees met uien
		p Tartaar speciaal 
			span met een gekookt ei, uien en saus
		p Eier salade 
			span met verse gemendge salade
		p Broodje gezond 
			span met sla, ham, kaas en gekookt ei
