.assortiment-burgers
		.burger
			img(src="images/shangai.jpg")
			.assortiment-text
				h3 Big shangai burger
				p.
					Met verse gemengde sla, sojabonen,
					gegrilde seizoensgroenten en grillsaus

		.burger
			img(src="images/chinatown.jpg")
			.assortiment-text
				h3 Big chinatown burger
				p.
					Met verse gemengde sla, kroepoek, atjar,
					rode uien en satésaus

		.burger
			img(src="images/jack.jpg")
			.assortiment-text
				h3 Big black jack
				p.
					Met verse gemengde sla, beenham, kaas,
					gebakken ei en burgersaus

		.burger
			img(src="images/bigbread.jpg")
			.assortiment-text
				h3 Big bread burger
				p.
					100% rundvlees met verse gemengde sla,
					gebakken champignons, uien, scharrelei,
					kaas en grillsaus

		.burger
			img(src="images/hongkong_chicken.jpg")
			.assortiment-text
				h3 Big bread hongkong kip
				p.
					Met scharrelkipfilet, verse gemengde sla,
					sojabonen, gebakken paprika, uien,
					champignons en Gon Bao saus

		.burger
			img(src="images/teriyaki.jpg")
			.assortiment-text
				h3 Big bread teriyaki
				p.
					Gegrilde stukjes kipfilet, verse gemengde
					sla, peul-vruchten, gebakken uien,
					champignons en teriyaki saus

		.burger
			img(src="images/shoarma.jpg")
			.assortiment-text
				h3 Big bread shoarma
				p.
					Heerlijk malse shoarma-reepjes met
					speciale kruiden, verse gemengde sla
					en knoflooksaus

		.burger
			img(src="images/crispy.jpg")
			.assortiment-text
				h3 Big bread crispy chicken
				p.
					Krokante stukjes kippendij-filet, verse
					gemengde sla, gebakken uien,
					champignons en chilisaus

		.burger
			img(src="images/warmvlees.jpg")
			.assortiment-text
				h3 Big bread warm vlees
				p.
					Plakjes varkensrollade, verse gemenge sla,
					gebakken uien, champignons en satésaus

		.burger
			img(src="images/american.jpg")
			.assortiment-text
				h3 Big american burger
				p.
					Met verse gemengde sla, dubbele
					hamburger, kaas, rode uien en burgersaus

		.burger
			img(src="images/italian.jpg")
			.assortiment-text
				h3 Italiaanse burger
				p.
					Met verse gemengde sla, gegrilde
					courgette, paprika en grillsaus

		.burger
			img(src="images/uk.jpg")
			.assortiment-text
				h3 Engelse burger
				p.
					Met verse gemengde sla, kaas, walnoten,
					rode uien en burgersaus

		.burger
			img(src="images/dutch.jpg")
			.assortiment-text
				h3 Hollandse bacon burger
				p.
					Met verse gemengde sla, bacon, rode uien
					en BBQ saus

		.burger
			img(src="images/asian.jpg")
			.assortiment-text
				h3 Aziatische burger
				p.
					Met verse gemengde sla, taugé,
					geroosterde uien en pindasaus

		.burger
			img(src="images/australian.jpg")
			.assortiment-text
				h3 Australische kipburger
				p.
					Met rucola en grill- of joppiesaus

		.burger
			img(src="images/europe.jpg")
			.assortiment-text
				h3 Europese burger
				p.
					Met verse gemengde sla, gebakken uien
					en speciaal saus

		.burger
			img(src="images/african.jpg")
			.assortiment-text
				h3 Afrikaanse burger
				p.
					Met verse gemengde sla, zure komkommer
					en rode peper hot cocktailsaus

		.burger
			img(src="images/indian.jpg")
			.assortiment-text
				h3 Indiase visburger
				p.
					Met verse gemengde sla, lekkerbekje,
					rode uien en remouladesaus



