.assortiment-ijs
	img(src="images/ijs.jpg")
	.assortiment-text
		p.orange Shaken &amp; Ijs
		p Kinderijsje 
		p Slushi puppie
		p Oubliehoorn
		p Sundae ijs 
		p Sorbet klein
		p Sorbet groot
		p nootjes, spikkels of choc
		p koffie, thee
		p Milkshake 
			span (smaken: aardbei, banaan, chocolade en vanille)
		p Ice twister

