form.form-horizontal(role='form', method='post', action='index.php')
  .form-group
    label.col-sm-2.control-label(for='name') Name
    .col-sm-10
      input#name.form-control(type='text', name='name', placeholder='First & Last Name', value="<?php echo htmlspecialchars($_POST['name']); ?>")
      !{'<?php echo "<p class='text-danger'>$errName</p>";?>'}

  .form-group
    label.col-sm-2.control-label(for='email') Email
    .col-sm-10
      input#email.form-control(type='email', name='email', placeholder='example@domain.com', value="<?php echo htmlspecialchars($_POST['email']); ?>")
      !{'<?php echo "<p class='text-danger'>$errEmail</p>";?>'}
  .form-group
    label.col-sm-2.control-label(for='message') Message
    .col-sm-10
      textarea.form-control(rows='4', name='message')
      !{'<?php echo "<p class='text-danger'>$errMessage</p>";?>'}
  .form-group
    label.col-sm-2.control-label(for='human') 2 + 3 = ?
    .col-sm-10
      input#human.form-control(type='text', name='human', placeholder='Your Answer')
     !{'<?php echo "<p class='text-danger'>$errHuman</p>";?>'}
  .form-group
    .col-sm-10.col-sm-offset-2
      input#submit.btn.btn-primary(name='submit', type='submit', value='Send')
  .form-group
    .col-sm-10.col-sm-offset-2
      !{'<?php echo "<p class='text-danger'>$errMessage</p>";?>'}
