footer
	.footer_text
		p Big Bread Groep BV. - 
			a(href="mailto:info@bigbread.nl?Subject=Hoi") info@bigbread.nl -  
			a(href="tel:+0344615206") (0344) 61 52 06 -  
			a(href="tel:+0624470181") (06) 244 701 81
	.footer_icons
		img(src="images/facebook.png")
		img(src="images/linkedin.png")

script(src="build/scripts.js")