.franchise-content
	article.top-item
		.bottom-text-franchise
			h2.orange Waar staat Big Bread Kitchen voor
			p.
				Big Bread Kitchen staat voor groei en gezond ondernemen binnen de
				fastfoodsector. Dit is onze persoonlijke ambitie en de doelstelling die
				wij nastreven voor onze franchisenemers.
				Big Bread Kitchen maakt zich onderscheidend als betere buurtcafetaria
				voor lunch en diner. Er is een ruime keus aan warme broodjes volgens
				eigen recept. Ook speelt Big Bread Kitchen optimaal in op grote
				afhaalbestellingen van diverse maaltijdpakketten. Acties worden
				ondersteunt door middel van off- en online promotieactiviteiten.

	article.bottom-item-double
		.bottom-text-franchise
			h2 Missie
			p.
				Groei door gezonder aanbod.
				Big Bread Kitchen speelt in op
				de veranderende consument
				door het aanbieden van vers fruit,
				salades en een ruime keus aan
				broodjes en huisgemaakte
				(vlees)gerechten.

	article.bottom-item-double
		.bottom-text-franchise
			h2 Visie
			ul
				li Onderscheidend vermogen
				li Verse, goede producten
				li Huiskamer van de wijk
	img(src="images/naarden.jpg" style="clear:left;")
	img(src="images/naarden.jpg")

	article.bottom-item
		.bottom-text-franchise
			h2 Big Bread Kitchen formule en zelfstandig ondernemen
			p.
				Binnen de Big Bread Kitchen formule is er alle ruimte voor de lokale
				ondernemers om zich vooral ook lokaal te profileren. U wordt de lokale
				bekende ondernemer in uw omgeving maar heeft de voordelen en
				ondersteuning van een formule concept. De formule is een semi-hard
				franchise en werkt met een formulefee en marketingfee op omzet basis.
				(2,5% + 3%)
				<br>
				Mogelijkheden tot eigen inbreng op producten en uitstraling toegespitst
				op uw eigen omgeving passen in het formule concept.

	article.bottom-item
		.bottom-text-franchise
			h2 Waarom zelf Big Bread Kitchen ondernemer worden?
			p.
				De voordelen van eigen ondernemerschap met verzorgde en geregelde
				formule elementen die behalve een groot inkoopvoordeel ook een stuk
				ontzorging meegeven aan uw ondernemerschap. Reclame, inkoop,
				formuleontwikkeling, foodontwikkeling, POS-materialen. U hoeft zich hier
				niet meer druk om te maken en zo kunt u alle aandacht aan bereiding en
				klantencontact geven. Big Bread Kitchen ondersteunt u verder met het
				vinden van een locatie, de inrichting van de locatie en biedt goede
				financieringsmogelijkheden aan.

	a.bronchure(href="#") Interesse? vraag dan nu onze bronchure aan



