title Jade-Sass
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="css/style.css")
script(src="build/plugins/jquery-3.1.1.min.js")
script(src="build/plugins/bootstrap.min.js")
script(src="build/scripts.js")
