header
	img#heroimg(src="images/logo.png")
	nav.navbar.navbar-inverse.navbar-static-top
		.container-fluid
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") BigBread Kitchen
			.collapse.navbar-collapse#myNavbar
				ul.nav.nav-bar
					li.active.state1(data-toggle="collapse", data-target="#myNavbar.in")
						a home
					li.state2(data-toggle="collapse", data-target="#myNavbar.in")
						a Nieuws
					li.state3(data-toggle="collapse", data-target="#myNavbar.in")
						a Vestigingen
					li.state4(data-toggle="collapse", data-target="#myNavbar.in")
						a Akties
					li.state5(data-toggle="collapse", data-target="#myNavbar.in")
						a Assortiment
					li.state6(data-toggle="collapse", data-target="#myNavbar.in")
						a Franchise
					li.state7(data-toggle="collapse", data-target="#myNavbar.in")
						a Vacatures
	nav.lg-devices
		ul.nav.nav-bar
			li.active.state1(data-toggle="collapse", data-target="#myNavbar.in")
				a home
			li.state2(data-toggle="collapse", data-target="#myNavbar.in")
				a Nieuws
			li.state3(data-toggle="collapse", data-target="#myNavbar.in")
				a Vestigingen
			li.state4(data-toggle="collapse", data-target="#myNavbar.in")
				a Akties
			li.state5(data-toggle="collapse", data-target="#myNavbar.in")
				a Assortiment
			li.state6(data-toggle="collapse", data-target="#myNavbar.in")
				a Franchise
			li.state7(data-toggle="collapse", data-target="#myNavbar.in")
				a Vacatures
