.home-container
	article.top-item
		h2 Over big bread kitchen
		p.
			Big Bread Kitchen, is het nieuwe gezicht van Big Bread cafetaria. Na jaren
			van sterke groei is de tijd aangebroken voor een nieuwe look en stijl.
			En uiteraard niet alleen voor het oog. Onze nieuwe uistraling gaat samen
			met veel nieuwe en verse (huisgemaakte) producten. Zo hebben wij 6
			nieuwe burgers, wat het totaal op 18 overheerlijke burgers brengt.
			Daarnaast serveren wij ook zeer smaakvolle maaltijden en maaltijdsalades
			bereidt met alleen de beste en meest verse ingrediënten.
			Big Bread Kitchen staat voor kwaliteit en uitstekende smaak.

	article.bottom-item
		.article-image
			img(src="images/huisgemaakt.png")
		.bottom-text
			h2 Huisgemaakte producten
			p.
				Big Bread Kitchen onderscheid zich door een flink
				aantal verse huisgemaakte producten. Zoals onze
				befaamde nasi- en bamiballen welke dagelijks vers
				in eigen keuken gemaakt worden.
	.action
		img(src="http://via.placeholder.com/300x100")