.news-content
	article.top-item.news-burgers
		.article-image
			img(src="images/jack.jpg")
		.bottom-text
			h2.orange 6 heerlijke nieuwe burgers
			p.
				We hadden natuurlijk al een uitgebreid
				assortiment met de meest lekkere burgers.
				Maar er is natuurlijk altijd ruimte voor
				meer. Zo zijn er nu 3 geweldige burgers
				met 200 grams angus beef hamburgers
				en heerlijke verse ingrediënten. Plus nog
				eens 3 nieuwe land-burgers. Tevens zijn
				al onze burgers verkrijgbaar met een
				angus beef hamburger en altijd zeer
				vers bereidt.
				span
					klik hier voor alle burgers
	
	article.top-item.news-salades
			.article-image
				img.special(src="images/salade.jpg")
			h2 5 overheerlijke maaltijdsalades
			p.
				Salades zijn tegenwoordig niet meer weg te denken uit het beeld van de
				maaltijden. Daarom introduceert Big Bread Kitchen 5 overheelrijke varianten
				van deze gezonde en zeer voedzame maaltijd. Elke salade word altijd vers
				bereidt met uitsluitend de beste ingrediënten. Met aan u de keuze om de
				salade met of zonder dressing geserveerd te krijgen.

				In ons assortiment hebben wij nu bijvoorbeeld een
				heerlijke “Ocean salade” met Stukjes tonijn, olijf,
				zeewier, kerstomaten, verse gemende salade en
				dressing. Een frisse “Italiaanse salade” met
				feta, druiven, walnoten, gekookt ei, rucola
				en dressing. En een zeer goed gevulde
				“Oosterse chicken salade” met kippendij-
				filet, soja saus, mandarijn, Parmezaan, verse
				gemengde salade en yoghurt dressing