.sidebar
	.search-location
		p.large Big bread kitchen 
		p.white.large Bij jou in de buurt
		p.search-text zoek op uw postcode
		.search-bar
			#custom-search-input
				.input-group
					input.form-control.input-lg(type="text", placeholder="Zoek...")
					span.input-group-btn
						button.btn.btn-info.btn-lg(type="button")
							p go
	.new-location
		h1 Nieuwe vesting
		img(src="images/naarden.jpg")
		p.vesteging Naarden
	.order-online
		p.white De lekkerste broodjes en snacks 
		h2 Online  
			span bestellen
	.save
		h2 Sparen