.vacature-content
	article.top-item
		h2.orange Op zoek naar een leuke en veelzijdige baan?
		p.
			Houd de vacatures van Big Bread Kitchen bij jou in buurt goed in de
			gaten. Wij hebben regelmatig interessante vacatures.

	//- ul.nav.nav-tabs.nav-justified#myTab
	//- 	li
	//- 		a.btn.dropdown-toggle(href="vestiging", data-toggle="dropdown") Vestigingen 
	//- 			span.caret
	//- 		ul.dropdown-menu
	//- 			a(href="#vestiging1", data-toggle="tab") Vestiging 1
	//- 			a(href="#vestiging2", data-toggle="tab") Vestiging 2
	//- .tab-content
	//- 	.tab-pane#vestiging1
	//- 		article.top-item
	//- 			h2 Keukenmedewerken m/v
	//- 			p.
	//- 				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagitti
	//- 			a(href="contact-form.php") Solliciteer nu!

	//- 	.tab-pane#vestiging2
	//- 		article.top-item
	//- 			h2 Kassabediening m/v
	//- 			p.
	//- 				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagitti

	.clear


	