.vestigingen-content
	.vestiging
		img(src="images/tiel-rauwenhof.jpg")
		.vestiging-text
			h2 big bread rauwenhof
			p Betsy Perkstraat 93
			p 4003 ZK Tiel
			p 0344-615206
			br
			table
				tr
					th ma
					td Gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 13:00 - 21:30 uur
	.vestiging
		img(src="images/westroyen.jpg")
		.vestiging-text
			h2 big bread westroyen
			p Laan van Westroyen 59
			p 4003 AX Tiel
			p 0344-611725
			br
			table
				tr
					th ma
					td 12:00 - 22:00 uur
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 13:00 - 22:00 uur
	.vestiging
		img(src="images/opijnen.jpg")
		.vestiging-text
			h2 big bread waalzicht
			p Waaldijk 16
			p 4148 EK Opijnen
			p 0418-652018
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 13:00 - 21:00 uur
	.vestiging
		img(src="images/gorinchem.jpg")
		.vestiging-text
			h2 big bread place
			p Glacis 1
			p 4207 GM Gorichem
			p 0183-635912
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 13:00 - 21:00 uur
	.vestiging
		img(src="images/scherpenzeel.jpg")
		.vestiging-text
			h2 big bread 't hoekje
			p Doornboomspark 2
			p 3925 KN Scherpenzeel
			p 033-27 72 485
			br
			table
				tr
					th ma t/m za
					td 11:30 - 23:00 uur
				tr
					th zo
					td 15:00 - 21:00 uur
	.vestiging
		img(src="images/zeist.jpg")
		.vestiging-text
			h2 big bread popeye
			p Bergweg 85
			p 3707 AC Zeist
			p 030 - 69 51 402
			br
			table
				tr
					th zo - ma
					td 11:30 - 21:30 uur
				tr
					th di
					td gesloten
				tr
					th wo t/m za
					td 13:00 - 22:00 uur
	.vestiging
		img(src="images/veghel.jpg")
		.vestiging-text
			h2 big bread Veghel
			p Meijerijstraat 51
			p 5461 KH Veghel
			p 0413-368872
			br
			table
				tr
					th ma - di
					td 12:00 - 21:00 uur
				tr
					th wo t/m za
					td 12:00 - 22:00 uur
				tr
					th zo
					td 15:00 - 21:00 uur
	.vestiging
		img(src="images/steenderen.jpg")
		.vestiging-text
			h2 big bread Steenderen
			p J.F. Oltmansstraat 6
			p 7221 NA Steenderen
			p 0575-452996
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 12:00 - 22:00 uur
	.vestiging
		img(src="images/zwijndrecht.jpg")
		.vestiging-text
			h2 big bread zwijndrecht
			p Grote Beerstraat 17
			p 3331 TA Zwijndrecht
			p 078-6126635
			br
			table
				tr
					th ma t/m za
					td 12:00 - 22:00 uur
				tr
					th di
					td gesloten
				tr
					th zo
					td 13:00 - 22:00 uur
	.vestiging
		img(src="images/naarden.jpg")
		.vestiging-text
			h2 bb kitchen naarden
			p Mackaylaan 44
			p 1412 CR Naarden
			p 035 695 0502
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 14:00 - 21:00 uur
	.vestiging
		img(src="images/terheijden.jpg")
		.vestiging-text
			h2 big bread het trefpunt
			p Hoofdstraat 23
			p 4844 CA Terheijden
			p 06-8896752
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di t/m za
					td 11:30 - 22:00 uur
				tr
					th zo
					td 12:00 - 21:00 uur
	.vestiging
		img(src="images/maarn.jpg")
		.vestiging-text
			h2 bb kitchen maarn
			p Raadguislaan 16
			p 3951 CH Maarn
			p 0343-759993
			br
			table
				tr
					th ma / zo
					td 11:30 - 22:00 uur
	.vestiging
		img(src="images/brakel.jpg")
		.vestiging-text
			h2 big bread de zalm
			p Burgermeester Posweg 44
			p 5306 GE Brakel
			p 0418-672935
			br
			table
				tr
					th ma
					td gesloten
				tr
					th di - wo
					td 12:00 - 22:00 uur
				tr
					th do - vr
					td 12:00 - 22:30 uur
				tr
					th za
					td 12:00 - 22:00 uur
				tr
					th zo
					td 16:00 - 21:00